<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeMe; Our Developers</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/developersOption.css">
</head>

<body>
<button type="button" class="btn btn-info" id="logout">Log Out</button>
<div class="jumbotron" id="header">
    <div class="container text-center">
        <h1>CodeMe;</h1>
        <p>Connect Between People to Code</p>
    </div>
</div>
<div class="text-center idOfDev" id="<%=admin._id%>">
    <a>Hello <%=admin._id%> &ensp;</a>
    <img src="data:developerOwner/<%=admin.picture%>;base64,
                  <%=admin.picture%>"
         class="img-responsive"
         style="width:  50px; height: 50px; object-fit: cover; border-radius: 50%;">
</div>
<br>

<br>
<div class="form-outline mb-4">
    <input
            type="search"
            class="form-control"
            id="datatable-search-input"
            placeholder="Search">
</div>

<br><br>

<section style="background-color: #eee;">
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5">
            <strong>Our Developers</strong>
        </h4>

        <div class="row">
            <%for (var i=0; i < developers.length; i++) {%>
            <div class="col-lg-4 col-md-12 mb-4 devs">
                <div class="card clickableDivs" id="<%=developers[i]._id%>">
                    <div
                            class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                        <div style="text-align: left" id="delete-<%=developers[i]._id%>">
                            <button type="button" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                </svg>
                                Delete
                            </button>
                        </div>
                        <img
                                src="data:developers[i]/<%=developers[i].picture%>;base64,
                  <%=developers[i].picture%>"
                                class="img-responsive"
                                style="width:  80px; height: 80px;
                                object-fit: cover; border-radius: 50%;">
                        <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                            </div>
                        </div>
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="" class="text-reset">
                            <h5 class="card-title mb-3"><%=developers[i].name%></h5>
                        </a>
                        <a href="" class="text-reset">
                            <p><%=developers[i].langs%></p>
                        </a>
                        <h6 class="mb-3">TBD</h6>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</section>
<br><br>

<div id="map"></div>

<footer class="container-fluid text-center">
    <p>CodeMe;</p>
</footer>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" >
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Profile</h1>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your profile?
                <br>
                If you click on <span style="color:crimson;">I'm sure</span> down below all your information will delete presently
                without a way to go back
                <br>
                <br>
                Click <span style="color:crimson;">I'm sure</span> to continue
                <br>
                Click <span>Cancel</span> to go back
            </div>
            <div class="modal-footer">
                <div class="container text-center">
                    <div class="row">
                        <div class="col" style="text-align: left">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col" style="text-align: right">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="removeBtn" style="color: crimson">I'm sure</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script id='mapScript' async="async" defer="defer"></script>
<script>

    var infobox,
        map;
    var APIKEY = '<%= process.env.API_KEY %>';
    var url = "https://www.bing.com/api/maps/mapcontrol?key=" + APIKEY + "&callback" +
        "=loadMapScenario";
    document
        .getElementById('mapScript')
        .src = url;

    function loadMapScenario() {
        map = new Microsoft
            .Maps
            .Map(document.getElementById('map'), {});
        infobox = new Microsoft
            .Maps
            .Infobox(map.getCenter(), {visible: false});
        infobox.setMap(map);

        Microsoft
            .Maps
            .loadModule('Microsoft.Maps.Search', function () {
                var searchManager = new Microsoft
                    .Maps
                    .Search
                    .SearchManager(map);

                "<% for (var i = 0; i < developers.length; i++) { %>"
                var requestOptions = {
                    bounds: map.getBounds(),
                    where: "<%=developers[i].city%>",
                    callback: function (answer, userData) {
                        map.setView({
                            bounds: answer
                                .results[0]
                                .bestView
                        });

                        var pin = new Microsoft
                            .Maps
                            .Pushpin(answer.results[0].location);
                        pin.metadata = {
                            title: "<%=developers[i].city%>",
                            description: "<%=developers[i]._id%>"
                        };

                        Microsoft
                            .Maps
                            .Events
                            .addHandler(pin, 'click', pushpinClick);

                        Microsoft
                            .Maps
                            .Events
                            .addHandler(pin, 'mouseover', pushpinOver);

                        map
                            .entities
                            .push(pin);

                    }
                };
                searchManager.geocode(requestOptions);
                "<%}%>"
            });

    }

    function pushpinOver(e) {
        //Make sure the infobox has metadata to display.
        if (e.target.metadata) {
            //Set the infobox options with the metadata of the pushpin.
            infobox.setOptions({
                location: e
                    .target
                    .getLocation(),
                title: e.target.metadata.title,
                visible: true
            });
        }
    }

    function pushpinClick(e) {
        var id = e.target.metadata.description;
        console.log("You clicked element #" + e.target.metadata.description);
        window.open(
            "../developers/developerProfile/?id=" + id,
            "_blank",
            "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=200,width=800,height=800"
        );
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/adminDevProfile.js"></script>
</body>

</html>